* {
    box-sizing: border-box;
    justify-content: center;
}

#time {
    text-align: right;
}

body {
    background-color: rgb(145, 145, 145);
    display: grid;
    margin-top: 100px;
}

h1 {
    display: grid;
}

.main {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(145, 145, 145);
}

.container {
    width: 800px;
    height: 200px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin-top: 50px;
}

.buttonGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.button.correct {
    background-color: green;
}

.button.incorrect {
    background-color: red;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}